/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* การตั้งค่าพื้นฐาน */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}
caption {
    caption-side: top;
    font-weight: bold;
    margin: 10px 0;
}

h1 {
    font-weight: 200;
    font-family: 'Arial', sans-serif;
}
/* การตั้งค่าคอนเทนเนอร์หลัก */
.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: start;
}

#wrapper {
    display: flex;
    width: 100%;
    /* เอา height to full viewport height ออก */
}

.nav-item {
    margin-left: 15px; /* ระยะห่างระหว่างแต่ละปุ่ม */
}
.page-content-wrapper {
    flex: 1;
}

/* การตั้งค่าคอนเทนเนอร์ Form */
.container-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/* ฟอร์มอัปโหลด */
form {
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    margin-bottom: 20px;
}
button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #dee2e6;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #f8f9fa;
}

#sidebarToggle {
    background: transparent; /* ทำให้พื้นหลังของปุ่มเป็นใส */
    border: none; /* เอาขอบออกจากปุ่ม */
    padding: 0; /* เอาระยะห่างภายในปุ่มออก */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อวางบนปุ่ม */
}

#sidebarToggle i {
    font-size: 24px; /* กำหนดขนาดของไอคอน (ปรับขนาดตามต้องการ) */
    color: #000; /* กำหนดสีของไอคอน (เปลี่ยนตามต้องการ) */
}

/* เพิ่ม hover effect ถ้าต้องการ */
#sidebarToggle:hover {
    background: rgba(0, 0, 0, 0.1); /* เพิ่มพื้นหลังสีอ่อนเมื่อเลื่อนเมาส์มาบนปุ่ม */
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}